!!! 5
extends layout

block content
  div.container#layout
    div
      header#head
        title Express
        script(src="/javascripts/metroautoadv.js")
        div.header-text-section#shaded
          div.container
            div.logo
              p MetroAutoAdv.com
              div.logo-message2
                p Effective & Efficient Advertising Medium
    nav(img src="/images/w.png")#mainnav1
      div.container
        ul.nav.nav-pills
          li
            a#home Home
          li
            a#advertisers Advertisers
          li
            a#drivers Drivers
          li
            a#contact Contact
    //div(style='height:20px; block:clear')

    a(name='home')
    div.container.adv-content-home 
      h1 Mobile Advertising
      p Mobile advertising has been highly effective for years on busses, trucks, and taxies. With excelent digital printing capabilities, graphics for vehicles are eye-catching and dramatic. Automobiles become moving billboards generating 2.5 times more attention than static billboards. Companies receive quality advertising from captive audiences for fractions of the cost of alternative advertising.   

      p<b> I use mobile advertising because:</b>
      p * You can't zap it.
      p * You can't ignore it.
      p * It can't be turned off like television.
      p * It reaches drivers and passengers no matter what radio stations they're listening to.
      p * The large, colorful, innovative designs demand attention.
      p * You have exclusivity in your space.
      p * There are over 1 Billion cars in the world.

    div#adv-background 
      div.header-text-section#shaded-advertisers.slide
        div.logo
          p Drive Home Your Message
    a(name='advertisers')
    div.container.adv-content-advertisers
        h1 Advertisers
        p Alternative out-of-home advertising is one of the fastest-growing media segments, expanding at double-digit rates.  

    div#adv-background
      div.header-text-section#shaded-drivers.slide
        div.logo
          p Earn money while commuting 
    a(name='drivers')
    div.container.adv-content
      h1 Drivers
      p Information for Drivers
      div
        button(type="button", onClick="window.location.href='/drivers'")#buttonDriver
          | Driver Sign-up  
    div#adv-background
      div.header-text-section#shaded-contact.slide
        div.logo
          p Contact Us  
    a(name='contact')
    div.container.adv-content-contact
      h1 Contact
      p Contact Us 









