doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js')
    script(src='http://code.jquery.com/ui/1.10.4/jquery-ui.js')
    script(src="/javascripts/nav-scroll.js")
    script(src="/assets/bootstrap/js/bootstrap.js")
  body
    block content