doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src="/javascripts/nav-scroll.js")
    script(src="assets/bootstrap/js/bootstrap.js")
  body
    block content