//public/stylesheets/style.css
@import "bootstrap.less";
@import "responsive.less";

body {
  //padding-top: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  //background-image:url('../images/autoAd_Election.jpeg');
  background-color: #C0D9D9;
  margin: 0;
}

a {
  color: #00B7FF;
}

#layout {
  margin: 0px;
  background-color: skyblue;
}

.container {
  max-width: 4000px;
}

#head {
	background-color: #ffffff;
	//background-size: 420px;
	background-image:url('../images/MetroAutoAdvBackgroundResized.png');
	background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
	height: 400px;
  background-size: 100% auto;
	margin-top: 0px;
	//color: #000000;
  z-index: 0;
}

#shaded {
  background-image:url('../images/Solid_whitew.png');
  background-repeat:repeat;
  height: 130px;
}

#shaded-home {
  background-image:url('../images/Solid_whitew.png');
  background-repeat:repeat;
  height: 80px;
}

#shaded-advertisers {
  background-image:url('../images/Solid_whitew.png');
  background-repeat:repeat;
  height: 80px;
}

#shaded-drivers {
  background-image:url('../images/Solid_whitew.png');
  background-repeat:repeat;
  height: 80px;
}

#shaded-contact {
  background-image:url('../images/Solid_whitew.png');
  background-repeat:repeat;
  height: 80px;
}

.header-text-section {
  position: absolute;
  margin-top: 120px;
  height: 155px;
  width: 100%;
  z-index: 1;
}

.logo {
font-size: 50px;
font-weight: 80px;
color: #000000;
}

.logo-message2 {
  font-size: 35px;
}

#mainnav1 {
  background-color: #005377;
  //background-image:url('../images/Solid_whitew.png');
  background-repeat:repeat;
  color: #ffffff;
  //width: 780px;
  //font-weight: 20px;
  z-index:1;
  top: 0px;
}

.nav {
	position: ;
    top: 100px;
    width: 100%;
}

#mainnav1.affix {
    position: static; 
    top: 0px;
    width: 100%;
}

.adv-content {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  height: 200px;
  z-index: 100;
}

.adv-content-home {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  height: 500px;
}

.adv-content-advertisers {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  height: 600px;
}

.adv-content-contact {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  height: 600px;
}

#adv-background{
  background-image:url('../images/MetroAutoAdvBackgroundResized.png');
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  background-size: 100% auto;
  height: 400px;
  //width: 100%;
  margin-top: 0px;
  color: #000000;
  z-index: 0;
}

#buttonDriver{
  background-color: #005377; 
  color: #ffffff;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  //font-weight: 20px;
}
/*#mainnav1 > .navbar-inner {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}*/

.stuck {position: fixed;}